.flex {
  display: flex;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.dir_column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.none {
  display: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.mobile {
  display: none;
}

.side_buttons {
  background-color: $light_gray;
  color: $dark_blue;
  &:hover {
    background-color: $dark_blue;
    color: $light_gray;
  }
}

button {
  padding: 10px 24px;
  letter-spacing: 1px;
  font-size: 16px;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
  text-transform: uppercase;
  border: none;
}
