@import "mobileHome.scss";

// HOME BANNER

.home_banner {
  background-color: white;
  height: 60vh;
  text-align: center;
  position: relative;

  .content {
    margin: 0 auto;
    width: 55%;
    text-align: left;
    padding-top: 10%;
    padding-bottom: 40px;
  }

  .buttons {
    margin-top: 40px;
    .side_buttons {
      background-color: $light_gray;
      color: $dark_blue;
      padding: 10px 24px;
      text-transform: uppercase;
      border: none;
      letter-spacing: 1px;
      transition: all 0.3s ease-out;
      &:hover {
        background-color: $dark_blue;
        color: $light_gray;
      }
    }
  }

  .title {
      font-family:
        'Quicksand',
        'Source Sans Pro',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        'Helvetica Neue',
        Arial,
        sans-serif;
      display: block;
      font-weight: 300;
      font-size: 80px;
      color: $dark_blue;
      letter-spacing: 1px;
      // text-decoration: underline;
      // text-decoration-color: $flash_green;
      border-bottom: 3px solid $flash_green;
      width: auto;
      display:table;
  }
}

// INFO

.home_info {
  background-color: $flash_green;
  height: 60vh;
  margin: 0 auto;
  position: relative;
  display:flex;
  justify-content: space-around;
  align-items: center;
  .info_block {
    margin: 0px 40px;
    width: 50%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    .wrapper {
      display: flex;
      height: 100%;
    }
    .text_block {
      width: 288px;
      .title {
        color: $dark_blue;
        font-size:30px;
        margin-bottom: 8px;
      }
      .text {
        size: 16px;
        color: $dark_blue;
        line-height: 24px;
      }
    }
    .logo {
      width: 160px;
    }
  }

  #first {
    align-items: flex-end;
  }
  #second {
    align-items: flex-start;
  }
}


// US

.home_us {
  background-color: $blue_gray;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  .wrapper {
    margin: 0 auto;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .who {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $flash_green;
    font-size: 46px;
    .title {
      font-weight: 300;
    }
  }
  .content {
    p {
      width: 40%;
      color: white;
      margin-top: 110px;
      margin-bottom: 70px;
    };
    #second {
      font-weight: 900;
      font-size: 24px;
    }

  }
}

// FORM

.home_form {
  height: 100vh;
  background-color: $dark_blue;
  display: flex;
  justify-content: space-around;
  padding: 10%;
  .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p, .logo {
      font-size: 48px;
      color: $flash_green;
    }
    p {
      width: 66%;
    }
  }
  .right {
    width: 40%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .text {
      color: white;
    }
    .form {
      .input_block {
        margin: 20px 0px;
        .input_group{
          width: 48%;
        }
        .input_full {
          width: 100%;
          .message {
            height: 80px;
          }
        }
        .sirencall {
          color: $flash_green;
          text-decoration: none;
          text-align: right;
          position: absolute;
          right: 8px;
          bottom: -16px;
          &:hover {
            text-decoration: underline;
          }
        }
        label {
          color: $blue_gray;
        }
        input {
          height: 30px;
          margin: 8px 0px;
          border: none;
          background-color: $blue_gray;
          color: white;
        }
        .not_valid {
          background-color: $light_gray;
          color: $dark_blue;
        }
        .valid {
          background-color: $flash_green;
          color: $dark_blue;
          &:hover {
            background-color: $dark_blue;
            color: $flash_green;
            border: 1px solid $flash_green;
          }
        }
      }
    }
  }
}

// MODAL
.sirenModalTitle {
  color: $flash_green !important;
}

.etablissements {
  height: 120px;
  margin-bottom: 10px;
  .active {
    border: 1px solid $flash_green;
  }
}
.etablissement {
  text-align: center;
  padding: 20px !important;
  color: $dark_blue;
  height: auto;
  padding: 5px;
  margin: 10px;
  &:hover {
    border: 1px solid black;
    opacity: 1;
  }
}

.success {
  color: $dark_blue;
  h3 {
    margin: 10px 0px;
  }
}




