@media only screen and (max-width: 1100px) {
  .menu {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
  .home_banner {
    height: auto !important;
    .content {
      width: 90% !important;
      .title {
        font-size: 2em !important;
      }
      .buttons {
        margin-top: 24px;
        margin-bottom: 24px;
        button {
          margin: 4px 0px;
        }
      }
    }
  }
  .home_info {
    height: auto !important;
    flex-direction: column;
    width: 100%;
    padding-top: 0px;
    .wrapper {
      flex-direction: column;
      align-self: center;
    }
    #picto_left, #picto_right {
      display: none;
    }
    #second {
      text-align: right;
    }
    #first, #second {
      align-items: unset !important;
      height: auto;
      padding: 40px 0px;
    }
    .info_block {
      width: 90% !important;
      .text_block {
        width: 100% !important;
      }
    }
    .logo {
      display: none !important;
    }
  }
  .home_us {
    height: auto !important;
    .wrapper {
      width: 90% !important;
      .title {
        font-size: 24px !important;
      }
      .minus {
        font-size: 48px !important;
      }
      .content {
        flex-direction: column;
        p {
          width: 90%;
          margin-top: 55px;
        }
      }
    }
  }

  .home_form {
    flex-direction: column-reverse;
    height: auto!important;
    padding: 10px !important;
    .left, .right {
      width: 96% !important;
      margin:0px !important;
      padding: 20px !important;
    }
    .left p {
      width: 100% !important;
      font-size: 28px !important;
    }
    .input_block {
      flex-direction: column;
      margin: 0 !important;
      .input_group {
        width:100% !important;
      }
    }
    .form {
      margin: 20px 0px;
      button {
        margin:10px 0px;
        width: 100%;
      }
      .input_block {
        flex-direction: column;
        margin: 0 !important;
        .input_group {
          width:100% !important;
        }
      }
    }
  }


}
