// HEADER


.nav {
  a:hover {
    color: $flash_green !important;
  }

  #back_pipe {
    color: $flash_green !important;
  }
    rect {
      fill: $flash_green;
    }


  .wrap {
    display: flex;
    justify-content: space-between;
    background-color: $dark_blue;
    color:white;
    height: 80px;
    align-items: center;
    padding: 0 20px;
    ;

    .logo {
      color: $flash_green;
    }

    .logo_wrap {
      display: flex;
    }

    #logo_text {
      margin-left: 6px;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      color: $flash_green;
      font-weight: bolder;
      font-size: 18px;
      line-height: 0;
    }

    #logo_text, #sc_logo_header {
      height: 45px;
    }

    .menu {
      min-width: 300px;
      height: 100%;
      padding: 16px 0px;
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      h4 {
        margin: 0 4px;
        font-weight: 400;
        letter-spacing: 2px;
      }
    }
  }
}

.slideDown {
  height: auto !important;
  z-index: 100;
  top: 80px;
  width: 100%;
  left: 0;
  background-color: $dark_blue;
  border-top: 1px solid white;
  padding: 20px 10px;
  color: white;
  text-align: right;
}
