@import "colors.scss";
@import "home.scss";
@import "navbar.scss";
@import "footer.scss";
@import "customClasses.scss";
@import "pictos.scss";
@import "mentionsLegales.scss";
@import "tarifs.scss";
@import "charte.scss";
@import "dashboard.scss";


// fonts


.body {
  font-family: tenon,sans-serif;
  font-weight: 300;
  font-style: normal;

  font-family: tenon,sans-serif;
  font-weight: 500;
  font-style: normal;

  font-family: tenon,sans-serif;
  font-weight: 700;
  font-style: normal;
}


// GENERAL

.visible {
  display: block !important;
}

.container {
  margin: 0 auto;
  width: 100vw;
}

a {
  text-decoration: none!important;
  color: inherit!important;
}

html, button {
  font-family:
   'tenon' !important;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}

ul {
   cursor: pointer;
}

.slide-enter-active {
   -moz-transition-duration: 0.1s;
   -webkit-transition-duration: 0.1s;
   -o-transition-duration: 0.1s;
   transition-duration: 0.1s;
   -moz-transition-timing-function: ease-in;
   -webkit-transition-timing-function: ease-in;
   -o-transition-timing-function: ease-in;
   transition-timing-function: ease-in;
}

.slide-leave-active {
   -moz-transition-duration: 0.1s;
   -webkit-transition-duration: 0.1s;
   -o-transition-duration: 0.1s;
   transition-duration: 0.1s;
   -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to, .slide-leave {
   max-height: 200px;
   overflow: hidden;
}

.slide-enter, .slide-leave-to {
   overflow: hidden;
   max-height: 0;
}

.rib_link {
  text-decoration: underline !important;
  &:hover {
    color: $flash_green !important;
  }
}

// errors

.errors {
  color: #721c24 !important;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  font-size: 1rem;
  padding: 10px 16px;
  width: 80%;
  margin-top: 2rem !important;
  text-align: center;
  margin: 0 auto;
}

// loading modal

.loading_modal {
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255,255,255,0.6);
  display:none;
  z-index: 9999;
  .img_container {
    display:flex;
    justify-content: space-around;
    align-items:center;
    margin-top: 42vh;
    img {
      width:100px;
      height:100px;
    }
  }
}

