.mentions_legales_block {
  padding: 40px;
  width: 80%;
  margin: 0 auto;
  color: $dark_blue;
  text-align:left;
  h2 {
    margin: 20px 0px;
    margin-bottom: 40px;
    text-align: left;
    font-size: 52px;
    font-weight: 100;
  }
  h3 {
    margin: 10px 0px;
    text-align: left;
    font-size: 28px;
    font-weight: 100;
  }

  h4 {
    margin: 8px 0px;
    text-decoration: underline;
    text-transform: uppercase;
  }

  p {
    margin: 12px 0px;
  }
}


#ml_container {
  background-color: white;

}
